<div class="toolbar">

    <div class="toolbar-sections">
        <span title="Connection Status" class="connection-indicator i-circle">&nbsp;</span>
        <input class="loggers-input" name="loggers" tabindex="0" />
        <div class="suggested-loggers" style="display: none;">
        </div>
        <span class="material-icons interactive start-feed" title="Start/Restart feed" tabindex="0">play_arrow</span>
        <span class="material-icons interactive stop-feed" tabindex="0" title="Stop feed">stop</span>
    </div>

    <div class="toolbar-sections">
        <span class="material-icons filter-icon" title="Filter (RegEx supported)">filter_alt</span>
        <input name="filter" style="width:300px" tabindex="0" />

        <span class="material-icons interactive filter-level-toggle" data-level="error" tabindex="0" title="Error">report</span>
        <span class="material-icons interactive filter-level-toggle" data-level="warn" tabindex="0" title="Warning">warning</span>
        <span class="material-icons interactive filter-level-toggle" data-level="info" tabindex="0" title="Info">info</span>
        <span class="material-icons interactive filter-level-toggle" data-level="debug" tabindex="0" title="Debug">bug_report</span>
        <span class="material-icons interactive filter-level-toggle" data-level="trace" tabindex="0" title="Trace">manage_search</span>
    </div>


    <div class="toolbar-sections">
        <span title="Clear log" class="material-icons interactive clear-log" tabindex="0">delete</span>
        <span title="Auto scroll to the end" class="auto-scroll-toggle material-icons interactive auto-scroll-active" tabindex="0">file_download</span>
    </div>
</div>
